@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: #0099ff;
  transition: 0.4s;
}

h1, h2, h3, p {
  color: white;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(204, 100%, 50%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }
}

/* main.css */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

